.message {
  margin: 15px 0;
  width: fit-content;
}

.author {
  background: gray;
  padding: 20px 15px;
  border-radius: 0 15px 0 0;
}

.text {
  background: silver;
  padding: 15px;
  border-radius: 0 0 15px 0;
  min-width: 200px;
  word-break: break-word;
}
