.avatar-area {
}

.header-area {
}

.content-profile {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-area {
  padding: 5px;
}

.user-info-area {
  text-align: center;
}

#contact_search_result, #chat_search_result {
  overflow: auto;
  height: 30vh;
}

.found_record:hover {
  background-color: #BBBBBB;
}

.chats_list {
  overflow: auto;
  max-height: 30vh;
}

.btn.no_focus:focus {
  outline: none;
  box-shadow: none;
}
