// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.avatar-area {
}

.content-profile {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-area {
}

.user-info-area {
}
