.row.col-4
  .search_chats
    = form_with url: '#' do |f|
      f.text :
    %p chats search
  .create_chats
    = render 'chat_rooms/create_chat_room', post: @new_chat_room
.row.col-4
  .chats_list
    = render @chat_list
